*{
    margin: 0;
    padding: 0;
}
#one{
    background-color: green;
    color: #fff;
    display: inline;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 30%;
    
    
}